a{
  text-decoration: none;
}
.allDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  flex-direction: column;
}
.siteHead{
  background-color:#0a3470;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  height:45px;
}
.headText{
  width:1350px;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
}
.langChange{
  z-index:9999;
  cursor: pointer;
  vertical-align: middle;
  position: absolute;
  padding:10px;
}
.listLang{
  position: absolute;
  float:left;
}
.listLang ul{
  list-style: none;
  margin:0;
  padding:0;
  width:120px;
  background-color: orange;
  border-radius: 5%;
}
.listLang li{
  display: inline-block;
  height:100%;
  padding:10px;
}
.navHead {
  float: right; 
  margin-right:5px;
}
.navHead ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width:100%;
}
.navHead li {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
  cursor: pointer;
  padding: 10px;
  position: relative;
}
.navHead a{
  color:#fff;
}
.navHead a:hover{
  color: red;
  transition: all 1s;
}
.navHead li:hover{
  color: red;
  transition: all 1s;
}
.navHead li:after {
  position: absolute;
  margin-left:50%;
  content: "";
  width: 0;
  height: 3.5px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #b00000;
  transition: all 1s;
}
.navHead li:hover:after {
  width: 100%;
  margin-left:0px;
}
.menuLogo{
height: 100px;
}
.mainAreaOne{
  width: 100%;
}
.mainString{
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  width:100%;
  display: flex;
  justify-content: center;
  z-index:999;
}
.mainStringCenter{
  width:1350px;
}
.mainString ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width:100%;
}
.mainString li {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
  cursor: pointer;
  padding-top: 40px;
  padding-bottom:  40px;
  position: relative;
}
.mainMenu {
  float:right;
}
.mainMenu a{
  color:#fff;
  list-style: none;
}
.blockLogo{
  float:left;
}
.newsBlock{
  width:100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.newsBlockMini{
  width:100%;
  max-width:1350px;
}
.newsTitle{
  font-size:30pt;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}
.newsTitleList{
  display:flex;
  justify-content: center;
  align-items: center;
}
.newsTitleList li {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
  cursor: pointer;
  padding: 10px;
  position: relative;
}
.newsTitleList a{
  color:blue;
  font-weight: bold;
}
.newsMainBlock{
  width:100%;
  display:flex;
}
.newsMainBlockLeft{
  max-width: calc(100% - 300px);
}
.newsMainBlockRight{
  width: 300px;
}